body{
  margin: 0%;
  background-image: url(./bg\ img.jpg)  ;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  
}
div{
  margin: auto;
  width: 350px;
  height: 480px;
  padding: 20px;
  background-color: white;
  border-radius: 2em; 
  font-family: 'Courier New', Courier, monospace;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  

}
label::after {
  content: "*";
  color: red;
}
fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

h1{
  font-family: 'Courier New', Courier, monospace;
}

.btn{
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: larger;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
}